%nav.navbar.has-shadow.is-spaced
  .navbar-brand
    %a.navbar-item
      =image_tag("luisosnet.png", border: 0, class: 'logo-brand', alt: "Luis Osnet")
      %h1.isotipo Luis Osnet
    .navbar-burger.burger{"data-target" => "navbarExampleTransparentExample"}
      %span
      %span
      %span
  #navbarExampleTransparentExample.navbar-menu
    .navbar-start
      %a= link_to t("menu.home"), "", class: "navbar-item"

      %a= link_to t("menu.services"), "", class: "navbar-item"

      %a= link_to t("menu.blog"), "", class: "navbar-item"

      %a= link_to t("menu.portfolio"), "", class: "navbar-item"

      %a= link_to t("menu.contact"), "", class: "navbar-item"

      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          %span.icon
            %i.fa.fas.fa-language
        .navbar-dropdown.is-boxed
          %a= link_to t("menu.language.spanish"), { :locale=>'es' }, class: "navbar-item"
          %a= link_to t("menu.language.english"), { :locale=>'en' }, class: "navbar-item"
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            %a.bd-tw-button.button{"data-social-action" => "tweet",
              "data-social-network" => "Twitter",
              "data-social-target" => "http://localhost:4000",
              :href => "https://twitter.com/intent/tweet?text=LuisOsnet: Ruby on Rails developer trying to help people one code line at time.&hashtags=LuisOsnet&url=http://luisosnet.com",
              :target => "_blank"}
              %span.icon
                %i.fa.fab.fa-twitter
              %span= t("menu.buttons.share")
          %p.control
            %a.button.is-primary{}
              %span.icon
                %i.fa.fas.fa-download
              %span= t("menu.buttons.resume")
