!!!
%html
  %head
    -# Basic Needs
    %meta{charset: "utf-8"}
    %title= t('author_name') + ": " + t('job')
    %meta{ name: "description", content: t('description') }
    %meta{ name: "author", content: t('author_name') }
    %meta{ name: "owner", content: t('owner_name') }
    -# Humans
    %link{ type: "text/plain", rel: "author", href: "/humans.txt" }
    %meta{ name: "Copyright", content: t('social.url') }
    %meta{ name: "robots", content: "all", href: "/robots.txt" }
    -# Favicons
    %link{ rel: 'icon', type: "image/png", sizes: '16x16 32x32 48x48 64x64', href: '/favicons/favicon.ico' }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "152x152", href: "/favicons/apple-touch-icon-152x152.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/favicons/apple-touch-icon-144x144.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "120x120", href: "/favicons/apple-touch-icon-120x120.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/favicons/apple-touch-icon-114x114.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "76x76", href: "/favicons/apple-touch-icon-76x76.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/favicons/apple-touch-icon-72x72.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "60x60", href: "/favicons/apple-touch-icon-60x60.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "/favicons/apple-touch-icon-57x57.png" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-196x196.png", sizes: "196x196" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-128.png", sizes: "128x128" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-96x96.png", sizes: "96x96" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-32x32.png", sizes: "32x32" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-16x16.png", sizes: "16x16" }
    %meta{ content: t('author_name'), name: "application-name" }
    %meta{ content: "#FFFFFF", name: "msapplication-TileColor" }
    %meta{ content: "mstile-310x310.png", name: "msapplication-square310x310logo" }
    %meta{ content: "mstile-310x150.png", name: "msapplication-wide310x150logo" }
    %meta{ content: "mstile-150x150.png", name: "msapplication-square150x150logo" }
    %meta{ content: "mstile-144x144.png", name: "msapplication-TileImage" }
    %meta{ content: "mstile-70x70.png", name: "msapplication-square70x70logo" }
    -# Mobile Specific Metas
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %meta{ content: "ie=edge, chrome=1", 'http-equiv': "x-ua-compatible" }
    -# og tags Facebook
    %meta{ content: "904862066288762", property: "fb:admins" }
    %meta{ content: t('description'), property: "og:description" }
    %meta{ content: t('author_name'), property: "og:title" }
    %meta{ content: "website", property: "og:type" }
    %meta{ content: t('social.url'), property: "og:url" }
    %meta{ content: "", property: "og:image" }
    %meta{ content: t('social.url'), property: "og:site_name" }
    -# Twitter Cards
    %meta{ content: "1238060450", property: "twitter:account_id" }
    %meta{ content: "summary_large_image", name: "twitter:card" }
    %meta{ content: t('social.twitter_user'), name: "twitter:site" }
    %meta{ content: t('author_name'), name: "twitter:title" }
    %meta{ content: t('description'), name: "twitter:description" }
    %meta{ content: t('social.twitter_user'), name: "twitter:creator" }
    %meta{ content: "", name: "twitter:image:src" }
    %meta{ content: t('social.url'), name: "twitter:domain" }
    -# og tags Google+
    %meta{ content: t('author_name'), itemprop: "name" }
    %meta{ content: t('description'), itemprop: "description" }
    %meta{ content: "", itemprop: "image" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render template: "layouts/_nav"
  = yield
  = render template: "layouts/_footer"
